<form method="post" action="saleItem">
    What do you want to sell? <br>
    <label for="itemTitle"> Item for Sale:</label><input type="text" name="itemTitle" id="itemTitle"><br>
    <label for="price">Price (in $USD):</label><input type="number" name="price" id="price"><br>
    <label for="imgURI">Image URL:</label><input type="url" name="imgURI" id="imgURI"><br>
    <label for="description">Description:</label><input type="text" name="description" id="description"><br>
    <input type="submit" value="List Item For Sale">
</form>