<form method="post" action="saleItem">
    What do you want to sell? <br>
    Item for Sale:<input type="text" name="itemTitle"><br>
    Price (in $USD):<input type="number" name="itemTitle"><br>
    Image URL:<input type="url" name="imgURI"><br>
    Description:<input type="text" name="description"><br>
    <br>
    <input type="submit">
</form>